In [2]:
import csv2sqllike

# How to load data

In [3]:
# csv file
with open("./sample.csv") as file:
    for x in file:
        print(x)

region,country,name,sex,university,age

north-america,usa,jhon,male,newyork university,23

east-asia,japan,maya,female,tokyo university,19

north-america,south-korea,park,male,seoul university,26

east-asia,china,chang,female,beijing university,21

In [4]:
# load data and specify data type
data = csv2sqllike.get_data_from_csv("./sample.csv")

region                                                                                 north-america

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

country                                                                                          usa

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

name                                                                                            jhon

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

sex                                                                                             male

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

university                                                                        newyork university

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

age                                                                                               23

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :  1

Data Loaded :
['region', 'country', 'name', 'sex', 'university', 'age']
['north-america', 'usa', 'jhon', 'male', 'newyork university', 23]
['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19]
['north-america', 'south-korea', 'park', 'male', 'seoul university', 26]
['east-asia', 'china', 'chang', 'female', 'beijing university', 21]

# How to check data and heads

In [5]:
# check data heads
print(data.header)
# check specified data type when data loaded
print(data.data_type)

['region', 'country', 'name', 'sex', 'university', 'age']
{'region': 'str', 'country': 'str', 'name': 'str', 'sex': 'str', 'university': 'str', 'age': 'int'}

In [6]:
# load data when you have specified data type dictionary
# In this way, you don't needt to specify data type again
data = csv2sqllike.get_data_from_csv("./sample.csv", type_dict={'region': 'str', 'country': 'str', 'name': 'str', 'sex': 'str', 'university': 'str', 'age': 'int'})

Data Loaded :
['region', 'country', 'name', 'sex', 'university', 'age']
['north-america', 'usa', 'jhon', 'male', 'newyork university', 23]
['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19]
['north-america', 'south-korea', 'park', 'male', 'seoul university', 26]
['east-asia', 'china', 'chang', 'female', 'beijing university', 21]

In [7]:
# check data
for x in data.data:
    print(x)

['north-america', 'usa', 'jhon', 'male', 'newyork university', 23]
['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19]
['north-america', 'south-korea', 'park', 'male', 'seoul university', 26]
['east-asia', 'china', 'chang', 'female', 'beijing university', 21]

# How to filter data using condition and check filtered data

In [8]:
#check cache storage before fitering
for x in data.cache_data:
    print(x)

['north-america', 'usa', 'jhon', 'male', 'newyork university', 23]
['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19]
['north-america', 'south-korea', 'park', 'male', 'seoul university', 26]
['east-asia', 'china', 'chang', 'female', 'beijing university', 21]

In [9]:
# filter data using specific condition
data.where("age <= 23")

In [10]:
# check cache storage after fitering
for x in data.cache_data:
    print(x)

['north-america', 'usa', 'jhon', 'male', 'newyork university', 23]
['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19]
['east-asia', 'china', 'chang', 'female', 'beijing university', 21]

In [11]:
# check condition for filtering data
print(data.condition_where)

age <= 23

In [12]:
# sequential filtering data
data.where("sex == female")

In [13]:
# check cache storage after fitering
for x in data.cache_data:
    print(x)

['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19]
['east-asia', 'china', 'chang', 'female', 'beijing university', 21]

In [14]:
# check condition for filtering data
print(data.condition_where)

age <= 23 AND sex == female

In [15]:
# clear cache data and fitering condition
data.clear_cache_data()
print(data.condition_where)
for x in data.cache_data:
    print(x)

['north-america', 'usa', 'jhon', 'male', 'newyork university', 23]
['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19]
['north-america', 'south-korea', 'park', 'male', 'seoul university', 26]
['east-asia', 'china', 'chang', 'female', 'beijing university', 21]

# How to group data with specific head and check grouped data

In [16]:
# group data with head
data.group_by("sex")
for key in data.cache_dict.keys():
    print(key, data.cache_dict[key])

female [['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19], ['east-asia', 'china', 'chang', 'female', 'beijing university', 21]]
male [['north-america', 'usa', 'jhon', 'male', 'newyork university', 23], ['north-america', 'south-korea', 'park', 'male', 'seoul university', 26]]

In [17]:
# check conditions for grouping data
print(data.condition_group_by)

sex

In [18]:
# sequential data grouping
data.group_by("country")

In [19]:
# group data with head
data.group_by("sex")
for key in data.cache_dict.keys():
    print(key, data.cache_dict[key])

female->japan [['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19]]
female->china [['east-asia', 'china', 'chang', 'female', 'beijing university', 21]]
male->usa [['north-america', 'usa', 'jhon', 'male', 'newyork university', 23]]
male->south-korea [['north-america', 'south-korea', 'park', 'male', 'seoul university', 26]]

In [20]:
# check conditions for grouping data
print(data.condition_group_by)

sex -> country

In [21]:
# clear conditions and cache dictionary for grouping data
data.clear_cache_data()
print(data.condition_group_by)
print(data.cache_dict)

{}

# How to modify data(add new head and delete head)

In [23]:
# add new head
data.add_head("class")

In [24]:
# check heads
data.header

['region', 'country', 'name', 'sex', 'university', 'age', 'class']

In [25]:
# check data
for x in data.data:
    print(x)

['north-america', 'usa', 'jhon', 'male', 'newyork university', 23, None]
['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19, None]
['north-america', 'south-korea', 'park', 'male', 'seoul university', 26, None]
['east-asia', 'china', 'chang', 'female', 'beijing university', 21, None]

In [26]:
# modify data
for index in range(len(data.data)):
    data.data[index][-1] = "human"

In [27]:
# check data
for x in data.data:
    print(x)

['north-america', 'usa', 'jhon', 'male', 'newyork university', 23, 'human']
['east-asia', 'japan', 'maya', 'female', 'tokyo university', 19, 'human']
['north-america', 'south-korea', 'park', 'male', 'seoul university', 26, 'human']
['east-asia', 'china', 'chang', 'female', 'beijing university', 21, 'human']

In [28]:
# delete head(column)
data.delete_head("university")

In [29]:
# check data
for x in data.data:
    print(x)

['north-america', 'usa', 'jhon', 'male', 23, 'human']
['east-asia', 'japan', 'maya', 'female', 19, 'human']
['north-america', 'south-korea', 'park', 'male', 26, 'human']
['east-asia', 'china', 'chang', 'female', 21, 'human']

# How to save current status of data into csv file

In [30]:
data.save_data_to_csv("new_data.csv")

In [31]:
new_data = csv2sqllike.get_data_from_csv("./new_data.csv")

region                                                                                 north-america

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

country                                                                                          usa

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

name                                                                                            jhon

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

sex                                                                                             male

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

age                                                                                               23

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :  1

class                                                                                          human

insert type(default type is str. options[" ":str, "1":int, "2":float, "3":date] :

Data Loaded :
['region', 'country', 'name', 'sex', 'age', 'class']
['north-america', 'usa', 'jhon', 'male', 23, 'human']
['east-asia', 'japan', 'maya', 'female', 19, 'human']
['north-america', 'south-korea', 'park', 'male', 26, 'human']
['east-asia', 'china', 'chang', 'female', 21, 'human']